[submodule "zsh_plugins/zsh-vi-mode"]
	path = zsh_plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "zsh_plugins/zsh-autosuggestions"]
	path = zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_plugins/zsh-syntax-highlighting"]
	path = zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "cfgfiles/vim/plugged/gruvbox"]
	path = cfgfiles/vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "cfgfiles/vim/plugged/vim-sensible"]
	path = cfgfiles/vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "cfgfiles/vim/plugged/vim-tmux-navigator"]
	path = cfgfiles/vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "cfgfiles/fzf"]
	path = cfgfiles/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "cfgfiles/neovim"]
	path = cfgfiles/neovim
	url = https://github.com/neovim/neovim.git
	branch = release-0.10
[submodule "cfgfiles/tmux/tpm"]
	path = cfgfiles/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
